// bower:scss
// endbower

// variables

$easing-easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing-easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easing-easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);

$col-primary: #03f8b6;
$col-text: #666;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // background-color: #222; 
  // color: white;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: block;
}

ul {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // height: 100vh;
  column-count: 3;
  column-gap: 0;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0;
  width: 100%;
  max-width: 1054px;
  margin-left: auto;
  margin-right: auto;
}

li {
  break-inside: avoid;
  // display: inline-block;
  // width: 25%;
  list-style: none;
  padding: 10px;

  a {
    display: block;
  }

  img {
    vertical-align: bottom;
    width: 100%;
  }

}

// thumbnails

.main {

  //   &::before {
  //   content: '';
  //   height: 200px;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   background: #52100B;
  //   z-index: -1;
  // }

}

// header

.header {
  // height: 50px;
}

.logo {
  width: 300px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: -250px;
}

.hero {
  width: 98%;
  height: calc(90vh - 50px);
  background-image: url('/img/hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  // border-top: 10px solid white;
  // border-right: 10px solid white;
  // border-left: 10px solid white;
  // clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
}

// body

.quote {
  position: relative;
  display: block;
  width: 500px;
  margin: 150px auto;
  font-size: 18px;
  line-height: 1.625em;
  color: $col-text;
  
  &::before {
    content: "\201C";
    position: absolute;
    z-index: -1;
    top: 70px;
    left: -100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 300px;
    font-style: italic;
    color: $col-primary;
  }

}

.date {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

// full image

.close {
  color: white;
  position: fixed;
  top: 25px;
  right: 25px;
  padding: 25px;
  background: #222;
  text-decoration: none;
}

.full-img {
  display: block;
  max-height: 100vh;
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 50%;
  padding: 20px;
  background: white;
  color: #222;
  text-decoration: none;
}

.nav--left {
  left: 0;
}

.nav--right {
  right: 0;
}

// ng animations

body {
  position:relative;
}

.view.ng-animate {
  position:absolute;
  // top:0;
  left:0;
  right: 0;
  // width:100%;
  // min-height: 100vh;
}

.record.ng-anchor {
  transition: 100ms ease-in; 
}

.view.ng-enter, .view.ng-leave {
  transition: 150ms ease-in;
}

.view.ng-enter {
  transition-delay: 0;
}

.view.ng-enter {
  opacity: 0;
  // transform: translateX(5%)
}

.view.ng-enter.ng-enter-active, .view.ng-leave {
  opacity: 1;
  // transform: translateX(0)
}

.view.ng-leave.ng-leave-active {
  opacity: 0;
  // transform: translateX(-5%);
}


