// bower:scss
// endbower

// variables

$easing-easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing-easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easing-easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #222;
  color: white;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: block;
}

ul {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // height: 100vh;
  column-count: 4;
  column-gap: 0;
  padding: 0 2px;
  margin-top: 100px;
  margin-bottom: 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

li {
  break-inside: avoid;
  display: inline-block;
  // width: 25%;
  list-style: none;
  padding: 0 2px;

  img {
    width: 100%;
  }

}

// thumbnails

.main {

    &::before {
    content: '';
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #444;
    z-index: -1;
  }

}

.hero {
  height: 90vh;
  width: 100%;
  background-image: url('/img/hero.jpg');
  background-size: cover;
  background-attachment: fixed;
}

// full image

.close {
  color: white;
  position: fixed;
  top: 25px;
  right: 25px;
  padding: 25px;
  background: #222;
  text-decoration: none;
}

.full-img {
  display: block;
  max-height: 100vh;
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 50%;
  padding: 20px;
  background: white;
  color: #222;
  text-decoration: none;
}

.nav--left {
  left: 0;
}

.nav--right {
  right: 0;
}

// ng animations

body {
  position:relative;
}

.view.ng-animate {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  // min-height:500px;
}

.record.ng-anchor {
  transition: 250ms ease-in; 
}

.view.ng-enter, .view.ng-leave {
  transition: 250ms ease-in;
}

.view.ng-enter {
  opacity: 0;
  transform: translateX(5%)
}

.view.ng-enter.ng-enter-active, .view.ng-leave {
  opacity: 1;
  transform: translateX(0)
}

.view.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateX(-5%);
}

