<!-- <input ng-model="query" type="text" placeholder="Filter by" autofocus> -->

<header class="header"></header>

<img class="logo" src="/img/logo.svg" alt="hero photo">

<div class="hero-wrap">
  <div class="hero scale"></div>
</div>

<p class="quote">The minute I heard my first love story, I started looking for you, not knowing how blind that was. Lovers don't finally meet somewhere. They’re in each other all along.</p>

<img class="date" src="/img/date.svg" alt="wedding date">

<div class="main">

  <ul data-sr-container='{ "reset":true, "vFactor": 0.2 }'>
      <li ng-repeat="image in images | filter:query" data-sr="enter bottom over 500ms after 1s">
        <a ui-sref="main.images({id: $index})">
          <img ng-src="{{image.src}}" title="{{image.name}}" class="record" ng-animate-ref="{{image.name}}"/>
        </a>
      </li>
  </ul>
  
</div>

<div class="view" ui-view></div>